/** @format */

.topbar {
  position: sticky;
  top: 0;
  width: 100%;
  height: 2.5rem;
  padding: 0 1rem;
  background-color: #ffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.topbarWrapper{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.topbarLeft {
    position: relative;
    cursor: pointer;
}
.topbarName {
  font-size: 2rem;
  font-weight: bold;
  color: #027D8D;
}
.topbarWrapper {
  font-size: 1.5rem;
  color: #555;

}
.topbarAlert{
    position: absolute;
    background-color:#f25d50 ;
    top: -4px;
    font-size: 0.75rem;
    color: #fff;
    padding: 0.1rem;
    border-radius: 50%;
width: 1.1rem;
height: 1.1rem;
text-align: center;
right: -4px;
}

.topbarAvatar>img{
    border-radius: 50%;
    cursor: pointer;
}